Combine all data into a single df
===

In [14]:
import os
import pandas as pd
import pickle

In [15]:
df_dir = pickle.load(open('df-dir.p', 'rb'))

In [16]:
df_dir

['C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R131_07_05_2017_03_01_40_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R131_07_06_2017_00_31_43_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R131_07_06_2017_03_31_43_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R131_07_07_2017_03_31_41_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_07_2017_08_20_12_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_08_2017_00_50_15_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_08_2017_09_00_15_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_09_2017_08_50_14_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_10_2017_08_50_11_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_11_2017_08_50_09_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R132_07_12_2017_08_50_07_Decimate_All.p',
 'C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R133_07_12_2017_17_05_04_Decimate_All.p']

In [19]:
# Try to import a df
df1 = pd.read_pickle('C:\\Users\\brian1123\\Programming\\Project\\NHBridge\\UNH-01_R131_07_05_2017_03_01_40_Decimate_All.p')
df2 = pd.read_pickle(df_dir[1])

In [20]:
df1.head()

,A-1-E-T-TF_Max,A-1-E-T-TF_Min,A-1-E-T-TF_RMS,A-10-E-TW-SF_Max,A-10-E-TW-SF_Min,A-10-E-TW-SF_RMS,A-2-E-T-TF_Max,A-2-E-T-TF_Min,A-2-E-T-TF_RMS,A-3-E-T-TF_Max,...,T-10-E-TW-SF_Min,T-10-E-TW-WB_Average,T-10-E-TW-WB_Max,T-10-E-TW-WB_Min,T-9-E-TW-SF_Average,T-9-E-TW-SF_Max,T-9-E-TW-SF_Min,T-9-E-TW-WB_Average,T-9-E-TW-WB_Max,T-9-E-TW-WB_Min
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-05 08:31:40,0.001316,-0.009395,0.002835,0.002083,-0.005025,0.001387,0.006612,-0.008061,0.000974,0.003837,...,-0.017990,0.128397,0.269324,-0.016863,0.036715,0.166163,-0.090434,0.033246,0.095981,-0.047871
2017-07-05 08:41:40,-0.000422,-0.005926,0.003175,0.000680,-0.003236,0.001452,0.003827,-0.005288,0.001036,0.002867,...,-0.002721,0.128355,0.194187,0.057718,0.036686,0.149379,-0.080413,0.031260,0.079964,-0.018961
2017-07-05 08:51:40,-0.001178,-0.006039,0.003501,0.007270,-0.012717,0.001779,0.006003,-0.007743,0.001243,0.007602,...,-0.245234,0.135325,0.587950,-0.379729,0.035531,0.161752,-0.063730,0.029892,0.484039,-0.422958
2017-07-05 09:01:40,0.000794,-0.008740,0.003870,0.002612,-0.004680,0.001660,0.005343,-0.006587,0.001417,0.005351,...,-0.025048,0.148715,0.333798,0.007433,0.037100,0.143737,-0.076553,0.029019,0.105358,-0.047494
2017-07-05 09:11:40,0.001489,-0.009407,0.004278,0.002304,-0.005447,0.001700,0.006381,-0.009642,0.001682,0.012568,...,-0.008550,0.158631,0.297861,-0.025897,0.039205,0.198259,-0.106905,0.030323,0.123140,-0.072853

In [21]:
df2.head()

,A-1-E-T-TF_Max,A-1-E-T-TF_Min,A-1-E-T-TF_RMS,A-10-E-TW-SF_Max,A-10-E-TW-SF_Min,A-10-E-TW-SF_RMS,A-2-E-T-TF_Max,A-2-E-T-TF_Min,A-2-E-T-TF_RMS,A-3-E-T-TF_Max,...,T-10-E-TW-SF_Min,T-10-E-TW-WB_Average,T-10-E-TW-WB_Max,T-10-E-TW-WB_Min,T-9-E-TW-SF_Average,T-9-E-TW-SF_Max,T-9-E-TW-SF_Min,T-9-E-TW-WB_Average,T-9-E-TW-WB_Max,T-9-E-TW-WB_Min
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-06 21:31:43,0.003533,-0.001626,0.000645,0.000740,-0.003374,0.000980,0.004593,-0.003838,0.000392,0.004130,...,0.003992,0.018454,0.080029,-0.051376,0.007627,0.075713,-0.063943,0.027559,0.075140,-0.010608
2017-07-06 21:41:43,0.001452,-0.000206,0.000698,0.000005,-0.001861,0.000953,0.001723,-0.000900,0.000350,0.002478,...,0.031073,0.018028,0.056712,-0.020795,0.006765,0.018724,-0.004881,0.027204,0.037662,0.017537
2017-07-06 21:51:43,0.001645,-0.000227,0.000764,-0.000352,-0.001553,0.000938,0.001327,-0.000706,0.000357,0.002046,...,0.031987,0.017922,0.039681,-0.007994,0.006209,0.019396,-0.005996,0.026504,0.035458,0.018280
2017-07-06 22:01:43,0.002984,-0.001053,0.000815,0.000176,-0.002095,0.000924,0.003168,-0.002110,0.000362,0.003441,...,0.027122,0.019689,0.065953,-0.025414,0.005446,0.025052,-0.015607,0.025983,0.041091,0.011936
2017-07-06 22:11:43,0.001850,-0.000207,0.000871,0.000086,-0.001744,0.000914,0.001374,-0.000692,0.000336,0.002201,...,0.024899,0.019495,0.059495,-0.017230,0.005168,0.018530,-0.008939,0.025705,0.042042,0.012987

In [22]:
frames = [df1, df2]
giant_df = pd.concat(frames)

In [27]:
print(df1.shape, "\n", df2.shape)
print(giant_df.shape)

(93, 198)
 (18, 198)
(111, 198)

In [28]:
# read all df.p
all_df = []
for df in df_dir:
    all_df.append(pd.read_pickle(df))

In [33]:
giant_df = pd.concat(all_df)

In [49]:
# Save the giant_df to all-df.p and csv

giant_df.to_pickle('all-df.p')
giant_df.to_csv('all-df.csv')